@CHARSET "UTF-8";


img {
	float: left;
	padding: 15px 10px;
	
}

button {
	float: right;
	align:right;
	background-color: grey;
    color: black;
    padding: 15px 10px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 4px 6px;
    cursor: pointer;
    top:0;
}

h1 {
	float: center;
	text-align:center;
	color:black;
	
}

h2{
	float: center;
	text-align:left;
	color:grey;
}

#footer {
    position: relative;
    min-height: 150px;
}

.main{
	background: url('project/test2.jpg') no-repeat;
}
